<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta information for character set and viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Page title -->
    <title>Technology Blog</title>
    
    <!-- Stylesheets for the page -->
    <link rel="stylesheet" href="/css/jass.css">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white">
    <!-- Header section with navigation -->
    <header class="pb-2 bg-gray-900">
        <nav class="container mx-auto text-center">
            <div class="flex justify-between">
                <!-- Navigation links -->
                <ul class="flex space-x-4">
                    <li>
                        <a class="text-white hover:text-gray-300" href="/">Main Page</a>
                    </li>
                    <li>
                        <a class="text-white hover:text-gray-300" href="/home">Control Panel</a>
                    </li>
                    <!-- Conditional rendering based on login status -->
                    {{#if logged_in}}
                    <li>
                        <button type="button" class="bg-gray-900 text-white hover:text-gray-300" id="logout">Sign Out</button>
                    </li> 
                    {{else}}
                    <li>
                        <a class="text-white hover:text-gray-300" href="/login" id="login">Sign In</a>
                    </li>
                    {{/if}}
                </ul>    
            </div>
        </nav>
        <!-- Blog title -->
        <div class="flex container text-center mx-auto px-2 relative">
            <h1 class="flex text-black bg-white py-1 text-4xl font-bold mx-2 px-3">The Technology Blog</h1>
        </div>
    </header>
    
    <!-- Main content area -->
    <div class="bg-slate-500 py-2">
        <main class="container mx-auto">
            <!-- Dynamic content will be injected here -->
            {{{ body }}}
        </main>
    </div>
    
    <!-- Conditional script based on login status -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>
