<!-- Container for updating or deleting a post -->
<div id="form-update-delete" class="container mx-auto flex justify-center mt-2" data-post-id={{post.id}}>
    <div class="flex flex-col w-full">
        <div class="flex">
            <!-- Form for post modification -->
            <form action="update/delete" class="border-white border-4">
                <!-- Header for the form -->
                <h4 class="bg-gray-800 text-white p-2">Modify Post</h4>

                <!-- Input field for post title -->
                <div class="mb-3 px-2">
                    <label class="block mb-1" for="post-title">Title of Post</label>
                    <textarea id="postTitle" class="w-full p-2 border rounded-md" rows="1">{{post.post_title}}</textarea>
                </div>

                <!-- Input field for post content -->
                <div class="mb-3 px-2">
                    <label class="block mb-1" for="post-content">Content of Post</label>
                    <textarea class="w-full p-2 border rounded-md" id="postContent" rows="1">{{post.post_content}}</textarea>
                </div>

                <!-- Container for update and delete buttons -->
                <div class="flex justify-between my-4">
                    <!-- Update button -->
                    <div class="flex justify-center">
                        <button id="updateBtn" class="px-4 py-2 border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white rounded" type="button">Modify</button>
                    </div>
                    <!-- Delete button -->
                    <div class="flex justify-center">
                        <button id="deleteBtn" class="px-4 py-2 border border-red-500 text-red-500 hover:bg-red-500 hover:text-white rounded" type="button">Remove</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Script for handling post updates -->
<script src="/js/updatePost.js"></script>
