<!-- Container for the login form with relative positioning -->
<div class="relative text-white logFrm">
    <!-- Centered dark background box for the login form -->
    <div class="px-2 bg-gray-700 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <div>
            <!-- Login form with action pointing to "signup" -->
            <form action="signup" id="login-form">
                <!-- Login form header -->
                <h2>Sign In</h2>
                
                <!-- Username input field -->
                <div class="mb-3">
                    <label class="block mb-1" for="username">Username</label>
                    <input id="username-login" class="w-full p-2 border rounded-md" type="text">
                </div>
                
                <!-- Password input field -->
                <div class="mb-3">
                    <label class="block mb-1" for="password">Password</label>
                    <input id="password-login" type="password" class="w-full p-2 border rounded-md">
                </div>
                
                <!-- Login button centered in the form -->
                <div class="flex justify-center pb-2">
                    <button type="submit" class="bg-white text-black px-4 py-2 rounded">Sign In</button>
                </div>
                
                <!-- Link to the signup page -->
                <p><a class="underline hover:no-underline" href="/signup">Not a member? Register now</a></p>
            </form>
        </div>
    </div>
</div>

<!-- Script for handling login functionalities -->
<script src="/js/login.js"></script>
