div.post {
    margin-top: 25px;
}

h2.post-title a {
    text-decoration: none;
}

div.post-creator p {
    color:white;
    font-size: smaller;
}

h1.main-title {
    width: 280px;
    border-radius: 8px;
}

div.main-content {
    height: 100vh;
}

form {
    width: 400px;
}

form.new-post {
    width: 800px;
}

div.sngForm, div.logFrm {
    margin-top: 220px;
}

